In [ ]:
"""
Iris data set consists of 150 samples
where there are 3 classes: "Iris-Setosa",
"Iris-Versicolor", and "Iris-Virginica"

4 features/attributes contibute to classifying:
sepal-length, sepal-width, petal-length, petal-width
"""

In [61]:
#import dependencies

#load dataset from sklearn library
#load_iris has data and class label for each sample
from sklearn.datasets import load_iris
#import in-built splitting function that is in sklearn
from sklearn.model_selection import train_test_split
#import kNN classifier
from sklearn.neighbors import KNeighborsClassifier
#import numpy
import numpy as np
#import pandas for data analysis
%pylab
import pandas as pd
#pyplot for data visualization
import matplotlib.pyplot as plt

Using matplotlib backend: Qt5Agg
Populating the interactive namespace from numpy and matplotlib

In [3]:
#extract data and store in variable
#'data' is a numpy array of shapes (150,4) and has 150 samples. Each class is 50 sample
data = load_iris().data

In [4]:
data.shape

(150, 4)

In [5]:
#extract class labels
labels = load_iris().target

In [6]:
#see labels
labels.shape

(150,)

In [8]:
#need to combine data and class labels
#data is a 2-d array, we need to reshape labels to be a 2-d array
labels = np.reshape(labels, (150,1))

In [9]:
#concatenate using axis = -1 which will combine based on second dimension
data = np.concatenate([data,labels],axis=-1)

In [10]:
data.shape

(150, 5)

In [13]:
#features
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'species']
#create dataframe (excel-like table)
dataset = pd.DataFrame(data,columns=names)

In [14]:
dataset.head(5)

   sepal-length  sepal-width  petal-length  petal-width  species
0           5.1          3.5           1.4          0.2      0.0
1           4.9          3.0           1.4          0.2      0.0
2           4.7          3.2           1.3          0.2      0.0
3           4.6          3.1           1.5          0.2      0.0
4           5.0          3.6           1.4          0.2      0.0

In [19]:
#need to change the species feature from numerical to flower names
dataset['species'].replace(0, 'Iris-setosa', inplace=True)
dataset['species'].replace(1, 'Iris-versicolor', inplace=True)
dataset['species'].replace(2, 'Iris-virginica', inplace=True)

In [20]:
dataset.head(5)

   sepal-length  sepal-width  petal-length  petal-width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [29]:
#visualizing sepal data
#set up visualizing our data (scatterplot)
plt.figure(4,figsize(10,8))

plt.scatter(data[:50,0], data[:50,1], c='r', label = 'Iris-setosa')
plt.scatter(data[50:100,0], data[50:100,1], c='g', label = 'Iris-versicolor')
plt.scatter(data[100:,0], data[100:,1], c='b', label = 'Iris-virginica')

plt.xlabel('Sepal length',fontsize=20)
plt.ylabel('Sepal width',fontsize=20)

plt.xticks(fontsize=20)
plt.yticks(fontsize=20)

plt.title('Sepal length vs Sepal width',fontsize=20)

plt.legend(prop={'size':18})

#show plot
plt.show()

In [31]:
#visualizing petal data
#plot the graph for petal length and width
plt.figure(4,figsize=(8,8))

plt.scatter(data[:50,2], data[:50,3], c='r', label = 'Iris-setosa')
plt.scatter(data[50:100,2], data[50:100,3], c='g', label = 'Iris-versicolor')
plt.scatter(data[100:,2], data[100:,3], c='b', label = 'Iris-virginica')

plt.xlabel('Petal length',fontsize=15)
plt.ylabel('Petal width',fontsize=15)

plt.xticks(fontsize=15)
plt.yticks(fontsize=15)

plt.title('Petal length vs Petal width',fontsize=15)

plt.legend(prop={'size':20})

plt.show()

In [33]:
#show the correlation between petal length and width from previous plot showcased
dataset.iloc[:,2:].corr()

#analyze correlation between all 3 species individually
dataset.iloc[:50,:].corr() #setosa

#visualize the feature distributing through plotting
fig = plt.figure(figsize=(8,8))
ax = fig.gca()
dataset.hist(ax=ax)
plt.show()

In [34]:
#analyze if 4 attributes are on same scale
dataset.describe()

       sepal-length  sepal-width  petal-length  petal-width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [35]:
"""
Focus on preprocessing data. Do it doing two ways:
normalizing data and splitting the data into training and
training sets

"""

'\nFocus on preprocessing data. Do it doing two ways:\nnormalizing data and splitting the data into training and\ntraining sets\n'

In [56]:
#Splitting the data
#load the data
train_data,test_data,train_label,test_label = train_test_split(dataset.iloc[:,:3], dataset.iloc[:,4], test_size=0.2, random_state=42)

In [60]:
#print shape of training and testing data
train_data.shape,train_label.shape,test_data.shape,test_label.shape

((120, 3), (120,), (30, 3), (30,))

In [62]:
#finished loading, anlayzing, and preprocessing data. now feed data into kNN model
#grid-search for finding the best hyperparameter k. test on 10 different k values and use best one

#create neighbor var that has values from 1-9
neighbors = np.arange(1,9)

#2 zero matrices each for training and testing accuracy
train_accuracy = np.zeros(len(neighbors))
test_accuracy = np.zeros(len(neighbors))

#enumerate through all neighbor values and for each neighbor, predict both on training and testing data, finally
#store accuracy into respective numpy matrices
for i,k in enumerate(neighbors):
    knn = KNeighborsClassifier(n_neighbors=k)
    
    #fitting the model
    knn.fit(train_data,train_label)
    
    #compute accuracy on training data
    train_accuracy[i] = knn.score(train_data,train_label)
    
    #compute accuracy on test data
    test_accuracy[i] = knn.score(test_data,test_label)

In [64]:
#plot the training and testing acccuracy
plt.figure(figsize=(10,6))

plt.title('kNN accuracy with different # of neighbors', fontsize=20)

plt.plot(neighbors, test_accuracy, label='Testing Accuracy')
plt.plot(neighbors, train_accuracy, label='Training Accuracy')

plt.legend(prop={'size':20})

plt.xlabel('# of neighbors', fontsize=20)
plt.ylabel('Accuracy', fontsize=20)

plt.xticks(fontsize=20)
plt.yticks(fontsize=20)

plt.show()